<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>build-build-revolution for Starcraft 2: credits</title>
    <link rel="stylesheet" href="/s/css/style.css">
    <script src="/s/js/script.js"></script>
  </head>
  <body>
      <h1>credits</h1>
      <ul>
          <li><a href="https://colordesigner.io/color-palette-from-image">colordesigner.io</a></li>
          <li><a href="https://meyerweb.com/eric/tools/css/reset/">CSS Reset by Eric Meyer</a></li>
          <l1><a href="https://fonts.google.com/specimen/Nunito">Google Fonts - Nunito</a></li>
          <li><a href="https://theemer.com/?colors=346379-0e1e2a-5cb1d5-a8cfca-3278a7">Theemer</a></li>
      </ul>
  </body>
</html>
