<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>build-build-revolution for Starcraft 2</title>
        <link rel="stylesheet" href="/s/css/style.css">
        <script src="/s/js/main.js"></script>
    </head>
    <body>
        <header>
            <h1>build-build-revolution for Starcraft 2</h1>
        </header>
        <main>
            <form method="POST" action="/play" name="upload" target="_blank"
                    enctype="multipart/form-data">
                <input type="file" name="replay"/>
                <button type="submit">load replay</button>
            </form>
        </main>
        <footer>&copy;2022 Scott Means - <a href="/credits">credits</a></footer>
    </body>
</html>
